<%- include('partials/header') -%>

<h1 class="mathwarsH1">Welcome to MathWars!</h1>
<div id="gameContainer" class="flex-startGameButton">
    <!-- Ready to play button -->
    <button type="button" class="btn btn-primary whiteBtn" id="startGameButton">Ready to play? </button>

    <!-- Other game elements (initially hidden)-->
    <div id="questionContainer" class="hidden whiteBtn"></div>
    <div class="midDivContainer">
        <div id="livesContainer" class="hidden whiteBtn btn30"></div>
        <div id="scoreContainer" class="hidden whiteBtn btn30"></div>
        <div id="highscoreContainer" class="hidden whiteBtn btn30"></div>
    </div>
    <div class="answerContainer">
        <input id="userInput" type="number" class="hidden whiteBtn"></input>
        <button type="submit" class="btn btn-primary hidden whiteBtn" id="submitButton">Submit</button>
    </div>
    <div id="gameOverContainer" class="hidden whiteBtn"></div>
    <button type="button" class="btn btn-primary whiteBtn hidden gameOverMargin" id="restartGameButton">Play again?</button>

</div>

<h1 class="flex-center"><a href="/logout" class="whiteBtn w-15 flex-center no-text-decoration">Logout</a></h1>

<%- include('partials/footer') -%>