<%- include('partials/header') -%>

<h1>This is game</h1>

<div id="gameContainer">

    <button type="button" class="btn btn-primary" id="startGameButton">Ready to play?</button>
    <input id="userInput" type="number"></input>
    <button type="submit" class="btn btn-primary" id="submitButton">Primary</button>
</div>

<%- include('partials/footer') -%>