<%- include('partials/header') -%>

<h1>This is game</h1>

<div id="gameContainer">
    <p>sfasfdasafasdfasdfafasd</p>
    <input id="userInput" type="number"></input>
    <button type="submit" class="btn btn-primary" id="submitButton">Primary</button>
</div>

<%- include('partials/footer') -%>