<%- include('partials/header') -%>

<h1 class="mathwarsH1">Welcome to MathWars!</h1>
<div id="gameContainer" class="flex-startGameButton">
    <!-- Ready to play button -->
    <button type="button" class="btn btn-primary greenBtn" id="startGameButton">Ready to play?</button>

    <!-- Other game elements (initially hidden)-->
    <div id="questionContainer" class="hidden greenBtn"></div>
    <div id="livesContainer" class="hidden greenBtn"></div>
    <div id="scoreContainer" class="hidden greenBtn"></div>

    <input id="userInput" type="number" class="hidden greenBtn"></input>
    <button type="submit" class="btn btn-primary hidden greenBtn" id="submitButton">Primary</button>
</div>

<%- include('partials/footer') -%>