body {
    background-color: mediumpurple;
    font-family: 'Chewy', cursive;
}
#gameContainer {
    border: 10px solid white;
    width: 75%;
    margin: 2.5% auto;
    border-radius: 5%;
    padding: 1%;
}
#startGameButton {
    width: 25%;
}
#userInput {
    margin-right: 5%;
}
.whiteBtn {
    background-color: antiquewhite;
    border-radius: 5%;
    border: 5px solid white;
    color: black;
    font-size: xx-large;
}
.btn30 {
    width: 30%;
}
.midDivContainer {
    display: flex;
    justify-content: space-around;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}
.mathwarsH1 {
    margin: 0 auto;
    width: fit-content;
    color: antiquewhite;
}
.hidden {
    display: none;
}
.flex-startGameButton {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.answerContainer {
    display: flex;
    justify-content: center;
}