body {
    background-color: mediumpurple;
    font-family: 'Chewy', cursive;
}
#gameContainer {
    border: 10px solid white;
    width: 75%;
    margin: 2.5% auto;
    border-radius: 5%;
    padding: 1%;
}
#questionContainer {
    border: 1px solid blue;
}
#startGameButton {
    width: 25%;
}
.greenBtn {
    background-color: chartreuse;
    border-radius: 5%;
    border: 5px solid white;
    color: deeppink;
    font-size: xx-large;
}
.mathwarsH1 {
    margin: 0 auto;
    width: fit-content;
    color: bisque;
}
.hidden {
    display: none;
}
.flex-startGameButton {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}